<c>
    <b>
        <a>
            <div>
                kangn
            </div>
                <div>
                    <ion-header>
                        <ion-navbar style="background-color:white;
                                            margin-bottom: -10px;
                                            min-height: initial!important;">
                            <div *ngIf="showToolbar" [@myAnimation] headerHeight="70"
                                style="text-align: center;
                                        background-color: white;">
                                <!-- <div *ngIf="showToolbar" headerHeight="70" style="text-align: center;background-color: white;"> -->
                                <img src="https://wa-luck.com/wp-content/themes/wa-luck-ver100/img/header-logo.svg"
                                    alt="https://wa-luck.com" style="width: 50px;height: 50px;margin: 10px;opacity: 1;">
                            </div>
                        <!-- END:タブメニュー-->
                    </ion-header>
                <p><spyfamily</p>

            </div>
        </a>
    </b>
</c>